NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=YOUR_ID
NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS
NEXT_PUBLIC_ALCHEMY_SEPOLIA_RPC_URL=YOUR_ALCHEMY_SEPOLIA_HTTPS_URL
NEXT_PUBLIC_INDEXER_URL=YOUR_INDEXER_URL